@{
    ViewData["Title"] = "About Page";
    Layout = Layout;
}

<body>
    <div class="w-100 p-0 m-0">
        <main role="main" class="pb-3 w-100">
            <div class="contentcontainer infopage">
                <div class=" about-us">
                    <p class="infopage_subtitle">MusicShop – лидер среди розничных сетей по продаже музыкальных инструментов и оборудования в России.</p>
                    <p class="infopage_paragraph">Мы – крупнейшая розничная сеть среди музыкальных магазинов в России, MusicShop - интернет-магазин №1 по популярности в данном сегменте в Рунете.</p>
                    <p class="infopage_paragraph">У нас представлен широкий ассортимент товаров для начинающих и профессиональных музыкантов, звукорежиссеров и продюсеров, владельцев бизнесов. Компания - официальный дилер мировых брендов Yamaha, Fender, Ibanez, Gibson, Marshall, Casio, AKG, Shure, Korg, Numark, Pioneer, Tamа, Zildjian, Mackie, JBL и других.</p>
                    <p class="infopage_paragraph">Компания первой на российском рынке музыкальных инструментов реализовала омниканальный подход: в магазинах и онлайн для покупателей всегда единые цены, ассортимент и сервис.</p>
                    <div class="about-us-banner"></div>
                    <div class="about-us-services"> 
                        <span class="infopage-subtitle">Мы создаём удобные сервисы для покупателей:</span>
                        <ul class="about-us-list">
                            <li class="about-us-item">
                                <div class="about-us-item-img"><i class="fa-sharp fa fa-shield-halved"></i></i></div>
                                <div class="about-us-item-text">
                                    <b>Качество</b>
                                    <p>Прямые поставки от производителя с полным контролем качества на всех этапах производства.</p>
                                    <p>Гарантийное обслуживание после покупки до 36 месяцев.</p>
                                </div>
                            </li>
                            <li class="about-us-item">
                                <div class="about-us-item-img"><i class="fa fa-check"></i></div>
                                <div class="about-us-item-text">
                                    <b>Выгода</b>
                                    <p>Кэшбек 5% для всех.</p>
                                    <p>Накопительные скидки для держателей клубных карт.</p>
                                    <p>Выгодные предложения.</p>
                                </div>
                            </li>
                            <li class="about-us-item">
                                <div class="about-us-item-img"><i class="fa fa-truck-fast"></i></div>
                                <div class="about-us-item-text">
                                    <b>Доставка</b>
                                    <p>У нас более 50 розничных магазинов по всей России, а также 54 200 пунктов самовывоза. Даже если в Вашем городе нет магазина «MusicShop», мы оперативно доставим выбранный вами товар транспортной компанией в любой регион России.</p>
                                </div>
                            </li>
                            <li class="about-us-item">
                                <div class="about-us-item-img"><i class="fa fa-gear"></i></div>
                                <div class="about-us-item-text">
                                    <b>Сервис</b>
                                    <p>Квалифицированные менеджеры.</p>
                                    <p>Доставка в удобное время.</p>
                                    <p>Сервис-центры по всей РФ.</p>
                                    <p>Удобный возврат товара.</p>
                                </div>
                            </li>
                            <li class="about-us-item">
                                <div class="about-us-item-img"><i class="fa fa-credit-card"></i></div>
                                <div class="about-us-item-text">
                                    <b>Удобная оплата</b>
                                    <p>Наличный, безналичный расчет, банковской картой.</p>
                                    <p>Рассрочка и кредит с выбором срока, процентной ставки и размера первого взноса.</p>
                                </div>
                            </li>
                        </ul>

                        <div class="about-us-props">
                            <span>Реквизиты:</span>
                            <ul class="about-us-props-list">
                                <li>Общество с ограниченной ответственностью «MusicShop»</li>
                                <li>Юридический адрес: г.Кострома</li>
                                <li>ИНН/КПП 8888888888 / 777777777</li>
                                <li>ОГРН 77777788888</li>
                            </ul>
                        </div>
                    </div>

                </div>

            </div>


        </main>
    </div>
</body>
