@{
    ViewData["Title"] = "Catalog";
    Layout = Layout;
}
<body>
    <div class="w-100 p-0 m-0">
        <main role="main" class="pb-3 w-100">

            <div class="shell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="wsk-cp-product">
                                <div class="wsk-cp-img">
                                    <img src="/Resources/img/tovarcard1.png" alt="Product" class="img-responsive" />
                                </div>
                                <div class="wsk-cp-text">
                                    <div class="category">
                                        <span>Просмотр</span>
                                    </div>
                                    <div class="title-product">
                                        <h3>TESLER KB-6120</h3>
                                    </div>
                                    <div class="description-prod">
                                        <p>Синтезатор — портативный инструмент весом всего 2,1 кг.</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="wcf-left"><span class="price">25000 Руб.</span></div>
                                        <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-cart-shopping"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wsk-cp-product">
                                <div class="wsk-cp-img"><img src="/Resources/img/tovarcard.png" alt="Product" class="img-responsive" /></div>
                                <div class="wsk-cp-text">
                                    <div class="category">
                                        <span>Просмотр</span>
                                    </div>
                                    <div class="title-product">
                                        <h3>METERS STEREO SPEAKER</h3>
                                    </div>
                                    <div class="description-prod">
                                        <p>Колонки беспроводные.</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="wcf-left"><span class="price">15000 Руб.</span></div>
                                        <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-cart-shopping"></i></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wsk-cp-product">
                                <div class="wsk-cp-img"><img src="/Resources/img/tovarcard1.png" alt="Product" class="img-responsive" /></div>
                                <div class="wsk-cp-text">
                                    <div class="category">
                                        <span>Просмотр</span>
                                    </div>
                                    <div class="title-product">
                                        <h3>TESLER KB-6120</h3>
                                    </div>
                                    <div class="description-prod">
                                        <p>Синтезатор — портативный инструмент весом всего 2,1 кг.</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="wcf-left"><span class="price">25000 Руб.</span></div>
                                        <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-cart-shopping"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="wsk-cp-product">
                                <div class="wsk-cp-img"><img src="/Resources/img/tovarcard2.png" alt="Product" class="img-responsive" /></div>
                                <div class="wsk-cp-text">
                                    <div class="category">
                                        <span>Просмотр</span>
                                    </div>
                                    <div class="title-product">
                                        <h3>SVS AUDIOTECHNIK</h3>
                                    </div>
                                    <div class="description-prod">
                                        <p>Двухканальный высокоэффективный усилитель.</p>
                                    </div>
                                    <div class="card-footer">
                                        <div class="wcf-left"><span class="price">20000 Руб.</span></div>
                                        <div class="wcf-right"><a href="#" class="buy-btn"><i class="fa fa-cart-shopping"></i></a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</body>

