@{
    ViewData["Title"] = "Contact Page";
    Layout = Layout;
}

<body>
    <div class="w-100 p-0 m-0">
        <main role="main" class="pb-3 w-100">
            <section class="footer_get_touch_outer">
                <div class="container">
                    <div class="footer_get_touch_inner grid-70-30">
                        <div class="colmun-70 get_form">
                            <div class="get_form_inner">
                                <div class="get_form_inner_text">
                                    <h3>У вас есть вопросы? Напишите нам.</h3>
                                </div>
                                <form action="#">
                                    <div class="grid-50-50" >
                                        <input type="text" class="inpt-name" placeholder="Имя">
                                        <input type="text" class="inpt-fam" placeholder="Фамилия">
                                        <input type="email" class="inpt-pochta" placeholder="Почта">
                                        <input type="tel" class="inpt-tel" placeholder="Телефон">
                                    </div>
                                    <div class="grid-full">
                                        <textarea placeholder="Напишите ваше сообщение." cols="30" rows="10"></textarea>
                                        <input type="submit" value="Отправить">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <div class="colmun-30 get_say_form">
                            <h5>Контакты</h5>
                            <ul class="get_say_info_sec">
                                <li>
                                    <i class="fa fa-envelope"></i>
                                    <a href="mailto:">MusicShop@mail.ru</a>
                                </li>
                                <li>
                                    <i class="fa-brands fa-whatsapp"></i>
                                    <a href="tel:">8 (888) 888-88-88</a>
                                </li>
                                <li>
                                    <i class="fab fa-telegram-plane"></i>
                                    <a href="#">Telegram</a>
                                </li>
                            </ul>
                            <ul class="get_say_social-icn">
                                <li><a href="#"><i class="fab fa-facebook-f facebook-bg"></i></a></li>
                                <li><a href="#"><i class="fab fa-twitter twitter-bg"></i></a></li>
                                <li><a href="#"><i class="fab fa-google-plus-g google-bg"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
                
            
        </main>
    </div>

</body>
