@{
    ViewData["Title"] = "Home Page";
    Layout = Layout;
}
<body>
    <div class="w-100 p-0 m-0">
        <main role="main" class="pb-3 w-100">
            <section id="image">
                <div class="indeximage">
                    <div class="indeximagecontent">
                        <p class="txtwelcome"> Добро пожаловать в музыкальный интернет-магазин</p>
                        <p class="txtinfo">От Новичка до Профессионала...</p>
                        <div class="btnnext">
                            <a href="/Home/Catalog" class="btnhref">Выбрать оборудование</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="tovarcategory">
                <div class="sectioncontainer">
                    <p class="indexheadergrey">Лучшие категории</p>
                    <div class="tovarscontainer">
                        <div class="tovarcategorycard">
                            <a href="#" class="tovarcardheader">Колонки</a>
                        </div>
                        <div class="tovarcategorycard1">
                            <a href="#" class="tovarcardheader1">Синтезаторы</a>
                        </div>
                        <div class="tovarcategorycard2">
                            <a href="#" class="tovarcardheader2">Микшеры</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="tovarcategory">
                <div class="sectioncontainer">
                    <p class="indexheadergrey">Лучшие категории</p>
                    <div class="tovarscontainer">
                        <div class="tovarcategorycard">
                            <a href="#" class="tovarcardheader">Колонки</a>
                        </div>
                        <div class="tovarcategorycard1">
                            <a href="#" class="tovarcardheader1">Синтезаторы</a>
                        </div>
                        <div class="tovarcategorycard2">
                            <a href="#" class="tovarcardheader2">Микшеры</a>
                        </div>
                    </div>
                </div>
            </section>
            <section id="ourpartners">
                <div class="sectioncontainer">
                    <p class="indexheaderblack">Наши партнёры</p>
                    <div class="partnerscontainer">
                        <img src="/Resources/img/Partner1.png">
                        <img src="/Resources/img/Partner1.png">
                        <img src="/Resources/img/Partner1.png">
                        <img src="/Resources/img/Partner1.png">
                    </div>
                </div>
            </section>
            <section id="reviews">
                <div class="sectioncontainer">
                    <p class="indexheadergrey">Отзывы</p>
                    <div class="reviewcontainer">
                        <input id="slaid1" name="slidercontrol" type="radio" checked>
                        <input id="slaid2" name="slidercontrol" type="radio">
                        <input id="slaid3" name="slidercontrol" type="radio">
                        <input id="slaid4" name="slidercontrol" type="radio">
                        <div class="reviews">
                            <div class="review">
                                <div class="reviewtext">
                                    Хороший интернет-магазин,доступные цены и быстрая доставка.
                                </div>
                                <div class="reviewprofile">
                                    <div>
                                        <img src="/Resources/img/Profilephoto.png">
                                    </div>
                                    <div>
                                        <h1>Дмитрий Соколов</h1>
                                        <span>Пользователь</span>
                                    </div>
                                </div>
                            </div>
                            <div class="review">
                                <div class="reviewtext">
                                    Хороший интернет-магазин,доступные цены и быстрая доставка.
                                </div>
                                <div class="reviewprofile">
                                    <div>
                                        <img src="/Resources/img/Profilephoto.png">
                                    </div>
                                    <div>
                                        <h1>Дмитрий Соколов</h1>
                                        <span>Пользователь</span>
                                    </div>
                                </div>
                            </div>
                            <div class="review">
                                <div class="reviewtext">
                                    Хороший интернет-магазин,доступные цены и быстрая доставка.
                                </div>
                                <div class="reviewprofile">
                                    <div>
                                        <img src="/Resources/img/Profilephoto.png">
                                    </div>
                                    <div>
                                        <h1>Дмитрий Соколов</h1>
                                        <span>Пользователь</span>
                                    </div>
                                </div>
                            </div>
                            <div class="review">
                                <div class="reviewtext">
                                    Хороший интернет-магазин,доступные цены и быстрая доставка.
                                </div>
                                <div class="reviewprofile">
                                    <div>
                                        <img src="/Resources/img/Profilephoto.png">
                                    </div>
                                    <div>
                                        <h1>Дмитрий Соколов</h1>
                                        <span>Пользователь</span>
                                    </div>
                                </div>
                            </div>


                        </div>
                        <div class="reviewcontrols">
                            <label for="slaid1"></label>
                            <label for="slaid2"></label>
                            <label for="slaid3"></label>
                            <label for="slaid4"></label>
                        </div>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>

