@{
	ViewData["Title"] = "Login";
}
<section id="Login">
    <div class="sectioncontainer">
        <form method="post">
            <p class="indexheader">Авторизация</p>
            <div class="logincontainer">
                <label class="logincontainerlabel">Почта</label>
                <input type="text" placeholder="Введите почту" name="email" required>
            </div>
            <div class="logincontainer">
                <label class="logincontainerlabel">Пароль</label>
                <input type="password" placeholder="Введите пароль" name="psw" required>
            </div>
            <button class="loginsubmit">Войти</button>
        </form>
    </div>
</section>
