html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin:0px;
}


/*Авторизация*/
.sectioncontainer {
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

.indexheader {
    font-family: 'Merriweather', serif;
    font-size: 50px;
    color: #000000;
    margin-top: 0;
    padding-top: 28px;
    text-align: center;
}

.logincontainer {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

    .logincontainer input {
        border: 1px solid #000000;
        border-radius: 15px;
        color: #000000;
        height: 50px;
        width: 50%;
        padding: 15px;
        margin: 20px 0px 5px ;
        display: inline-block;
        border: none;
        background: #f1f1f1;
    }
    .logincontainer input[type=text]:focus, input[type=password]:focus {
        background-color: #ddd;
        outline: none;
    }

    .logincontainer label {
        font-family: 'Lato',sans-serif;
        font-style: normal;
        font-size: 20px;
        margin-top: 10px;
        width: 100px;
    }

.loginsubmit {
    border: 1px solid #000000;
    background: #DD4B39;
    border-radius: 10px;
    font-size: 18px;
    text-align: center;
    color: #FFFFFF;
    height: 50px;
    width: 300px;
    display: block;
    margin: auto;
}
/*Конец описания авторизации*/

/*Стилизация Главной страницы*/
.indeximage {
    width: 100%;
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(/Resources/img/Backline.jpg);
}

.indeximagecontent {
    width: 100%;
    position: absolute;
    top: 200px;
        
}

.txtwelcome {
    color: white;
    font-size: 20px;
    text-align:center;
    
}

.txtinfo {
    font-family: 'Merriweather', serif;
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
    text-align: center;
    margin-top:80px;
}

.btnnext {
    background-color: #DD4B39;
    border-radius: 14px;
    border: 1px black solid;
    width: 270px;
    height: 60px;
    display: flex;
    justify-content: center;
    margin-top: 60px;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}
    .btnnext a{
        color:#ffffff;
    }

.btnhref {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    align-items: center;
    display: flex;
    text-decoration: none;
    color: #FFFFFF;
}

/*Стилизация карточки категорий*/
#tovarcategory {
    /*background-color: #EBEBEB;*/
    height: 600px;
}

.indexheadergrey {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 24px;
    text-align: center;
    margin-top: 0;
    padding-top: 100px;
}

.tovarscontainer {
    display: flex;
}

.tovarcategorycard {
    margin-left: 10px;
    margin-right: 10px;
    width: 350px;
    height: 360px;
    background-image: url(/Resources/img/tovarcard.png);
    transition: ease-in-out .5s;
    display: table;
}

    .tovarcategorycard:hover {
        /*opacity: 0.5;*/
        background-image: url(/Resources/img/tovarcard.png);
        color: #FFFFFF;
    }

        .tovarcategorycard:hover a {
            color: #ffffff;
        }

.tovarcardheader {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

.tovarcategorycard1 {
    margin-left: 10px;
    margin-right: 10px;
    width: 350px;
    height: 360px;
    background-image: url(/Resources/img/tovarcard1.png);
    transition: ease-in-out .5s;
    display: table;
}

    .tovarcategorycard1:hover {
        background-image: url(/Resources/img/tovarcard1.png);
        color: #FFFFFF;
    }

        .tovarcategorycard1:hover a {
            color: #ffffff;
        }

.tovarcardheader1 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}

.tovarcategorycard2 {
    margin-left: 10px;
    margin-right: 10px;
    width: 350px;
    height: 360px;
    background-image: url(/Resources/img/tovarcard2.png);
    transition: ease-in-out .5s;
    display: table;
}

    .tovarcategorycard2:hover {
        background-image: url(/Resources/img/tovarcard2.png);
        color: #FFFFFF;
    }

        .tovarcategorycard2:hover a {
            color: #ffffff;
        }

.tovarcardheader2 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 24px;
    color: #FFFFFF;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    text-decoration: none;
}
/*Окончание стилизации карточки категорий*/

/*Стилизация блока партнёров*/
.slick-slide {
    margin: 0px 20px;
}

    .slick-slide img {
        width: 100%;
    }

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-touch-callout: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

    .slick-list:focus {
        outline: none;
    }

    .slick-list.dragging {
        cursor: pointer;
    }

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
}

    .slick-track:before,
    .slick-track:after {
        display: table;
        content: '';
    }

    .slick-track:after {
        clear: both;
    }

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}
/*Окончание стилизация партнёров*/

/*Стилизация отзывов*/
#reviews {
    /*background-color: #F9F9F9;*/
    height: 600px;
}

.reviewcontainer {
    width: 100%;
    overflow: hidden;
}

    .reviewcontainer input {
        display: none;
    }

.reviews {
    display: flex;
    width: 100%;
    transition: ease-in-out 2s;
}

.review {
    width: 100%;
    flex-shrink: 0;
    background: #EBEBEB;
    transition: all 0.5s;
}

.reviewtext {
    font-size: 18px;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    margin: 50px;
}

.reviewprofile {
    margin: 50px;
    display: flex;
}

    .reviewprofile h1 {
        font-size: 18px;
        font-family: 'Lato', sans-serif;
        font-weight: 900;
        padding-left: 20px;
    }

    .reviewprofile span {
        font-size: 14px;
        font-family: 'Lato', sans-serif;
        font-weight: 400;
        color: #4F4F4F;
        padding-left: 20px;
    }

/*Слайдер*/.reviewcontrols {
                margin: 20px auto;
                width: fit-content;
            }

    #slaid1:checked ~ .reviews {
        transform: translate(0);
    }

    #slaid2:checked ~ .reviews {
        transform: translateX(-100%);
    }

    #slaid3:checked ~ .reviews {
        transform: translateX(-200%);
    }

    #slaid4:checked ~ .reviews {
        transform: translateX(-300%);
    }

    #slaid1:checked ~ .reviewcontrols label[for="slaid1"] {
        opacity: 1;
    }

    #slaid2:checked ~ .reviewcontrols label[for="slaid2"] {
        opacity: 1;
    }

    #slaid3:checked ~ .reviewcontrols label[for="slaid3"] {
        opacity: 1;
    }

    #slaid4:checked ~ .reviewcontrols label[for="slaid4"] {
        opacity: 1;
    }

    .reviewcontrols label {
        display: inline-block;
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin: 0 30px;
        border-radius: 50%;
        opacity: 0.4;
        background-color: #000000;
    }
/*Окончание стилизации блока отзывов*/

/*Стилизация страницы О нас*/
.about-us {
    width: 90%;
    height: 100%;
    /*background-color: #BDBDBD;*/
    margin: auto;
    margin-top:30px;
}

.infopage_subtitle{
    text-align:center;
    font-size:20px;
    font-weight:600;
}

.infopage_paragraph{
    white-space:normal;
    margin: 0px 30px 10px 40px;
}

.about-us-banner {
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size:cover;
    background-image: url(/Resources/img/Backline.jpg);
}

.about-us-item-img i {
    margin: 0px 0px 20px 0px;
    font-size: 30px;
}


.about-us-services {
    margin: 30px 0px 0px 0px;
}

.infopage-subtitle {
    margin: 0px 0px 10px 30px;
    font-weight: 500;
}

.about-us-list {
    display: grid;
    list-style: none;
    grid-auto-flow: column;
    gap: 15px;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin:20px 10px 0 0px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-us-props {
    margin: 20px 0 0 30px;
}
/*Конец стилизация страницы О нас*/


/*Стилизация страницы Каталога*/
.shell{
    width:100%;
}

/*.containerproduct {
    width:70%;
    margin-left:300px;
    display:flex;
}*/

.wsk-cp-product {
    background: #fff;
    padding: 15px;
    border-radius: 6px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    position: relative;
    margin: 20px auto;
}

.wsk-cp-img {
    position: absolute;
    top: 5px;
    left: 50%;
    transform: translate(-50%);
    -webkit-transform: translate(-50%);
    -ms-transform: translate(-50%);
    -moz-transform: translate(-50%);
    -o-transform: translate(-50%);
    width: 100%;
    padding: 15px;
    transition: all 0.2s ease-in-out;
}

    .wsk-cp-img img {
        width: 100%;
        transition: all 0.2s ease-in-out;
        border-radius: 6px;
    }

    .wsk-cp-product:hover .wsk-cp-img img {
        box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.22);
    }

.wsk-cp-text {
    padding-top: 130%;
}

    .wsk-cp-text .category {
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        padding: 5px;
        margin-bottom: 45px;
        position: relative;
        transition: all 0.2s ease-in-out;
    }

        .wsk-cp-text .category > * {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            -webkit-transform: translate(-50%,-50%);
            -moz-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
            -o-transform: translate(-50%,-50%);
        }

        .wsk-cp-text .category > span {
            padding: 12px 30px;
            border: 1px solid #313131;
            background: #212121;
            color: #fff;
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
            border-radius: 27px;
            transition: all 0.05s ease-in-out;
        }

.wsk-cp-product:hover .wsk-cp-text .category > span {
    border-color: #ddd;
    box-shadow: none;
    padding: 11px 28px;
}

.wsk-cp-product:hover .wsk-cp-text .category {
    margin-top: 0px;
}

.wsk-cp-text .title-product {
    text-align: center;
}

    .wsk-cp-text .title-product h3 {
        font-size: 20px;
        font-weight: bold;
        margin: 15px auto;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
    }

.wsk-cp-text .description-prod p {
    margin: 0;
}

.wsk-cp-text .description-prod {
    text-align: center;
    width: 100%;
    height: 62px;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    margin-bottom: 15px;
}

.card-footer {
    padding: 25px 0 5px;
    border-top: 2px solid #ddd;
    background-color:white;
}

    .card-footer:after, .card-footer:before {
        content: '';
        display: table;
    }

    .card-footer:after {
        clear: both;
    }

    .card-footer .wcf-left {
        float: left;
    }

    .card-footer .wcf-right {
        float: right;
    }

.price {
    font-size: 18px;
    font-weight: bold;
}

a.buy-btn {
    display: block;
    color: #212121;
    text-align: center;
    font-size: 18px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 50%;
    border: 1px solid #212121;
    transition: all 0.2s ease-in-out;
}

    a.buy-btn:hover, a.buy-btn:active, a.buy-btn:focus {
        border-color: #FF9800;
        background: #FF9800;
        color: #fff;
        text-decoration: none;
    }

.wsk-btn {
    display: inline-block;
    color: #212121;
    text-align: center;
    font-size: 18px;
    transition: all 0.2s ease-in-out;
    border-color: #FF9800;
    background: #FF9800;
    padding: 12px 30px;
    border-radius: 27px;
    margin: 0 5px;
}

    .wsk-btn:hover, .wsk-btn:focus, .wsk-btn:active {
        text-decoration: none;
        color: #fff;
    }

.red {
    color: #F44336;
    font-size: 22px;
    display: inline-block;
    margin: 0 5px;
}

@media screen and (max-width: 991px) {
    .wsk-cp-product {
        margin: 40px auto;
    }
        .wsk-cp-product .wsk-cp-img img {
            box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
        }

        .wsk-cp-product .wsk-cp-text .category > span {
            border-color: #ddd;
            box-shadow: none;
            padding: 11px 28px;
        }

        .wsk-cp-product .wsk-cp-text .category {
            margin-top: 0px;
        }

    a.buy-btn {
        border-color: #FF9800;
        background: #FF9800;
        color: #fff;
    }
}
/*Конец стилизации страницы Каталога*/

/*Стилизация страницы Контакты*/
.footer_get_touch_outer {
    margin-top: 50px;
    margin-bottom:25px;
}

.container {
    width: 95%;
    max-width: 1140px;
    margin: auto;
}

.grid-70-30 {
    display: grid;
    grid-template-columns: 70% 30%;
}

.get_form_inner {
    display: block;
    padding: 50px 40px;
    background: #fff;
    box-shadow: -4px -2px 20px -7px #cfd5df;
}

.grid-50-50 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}

.inpt-name, .inpt-fam, .inpt-pochta, .inpt-tel {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    height: 42px;
    padding: 0 0 0 20px;
    width: 100%;
    outline: 0;
}

.grid-full {
    margin: 20px 0;
}

textarea {
    border: 1px solid #dbdbdb;
    border-radius: 2px;
    color: #333;
    padding: 12px 0 0 20px;
    width: 100%;
    outline: 0;
    margin-bottom: 20px;
}

.get_form_inner_text h3 {
    color: #333;
    font-size: 26px;
    font-weight: 600;
    margin-bottom: 40px;
}

input[type="submit"] {
    display: inline-block;
    font-size: 16px;
    text-transform: uppercase;
    background: transparent;
    border: 2px solid #333;
    font-weight: 500;
    padding: 10px 20px;
    outline: 0;
    cursor: pointer;
    color: #000000;
    transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -webkit-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -moz-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    -o-transition: all 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

    input[type="submit"]:hover {
        background-color: #DD4B39;
        border-color: #DD4B39;
        color: #fff;
    }

.get_say_form {
    display: inline-block;
    padding: 45px 0 25px 30px;
    background: #2E2E2E;
    position: relative;
}

    .get_say_form h5 {
        color: #fff;
        font-size: 26px;
        margin: 0 0 40px;
    }

.get_say_info_sec {
    list-style: none;
    padding: 0;
    margin: 0;
}

.get_say_social-icn {
    display: flex;
    position: absolute;
    bottom: 40px;
    list-style: none;
    padding: 0;
    margin: 0;
}

    .get_say_social-icn a {
        font-size: 22px;
        color: #fff;
        padding: 0 20px 0 0;
    }

.get_say_info_sec i {
    color: #fff;
    font-size: 32px;
}

.get_say_info_sec > li {
    display: grid;
    grid-template-columns: 40px auto;
    align-items: center;
    margin-bottom: 40px;
}

    .get_say_info_sec > li a {
        width: 100%;
        display: block;
        padding: 15px 25px;
        color: #fff;
        font-size: 16px;
        text-decoration: unset;
        font-weight: 500;
        background: #747474;
        border-radius: 5px 0 0 5px;
        transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -webkit-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -moz-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
        -o-transition: background 0.3s cubic-bezier(0.55, 0.055, 0.675, 0.19);
    }

        .get_say_info_sec > li a:hover {
            background-color: #DD4B39;
        }
/*Конец стилизации страницы Контакты*/